 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* Added by Beau West for legibility. */
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	Beau West: Dark side of a lime
	Base Site Styles
	Copyright 2011: beau@west.gs
*/

html, body {
	font: normal 14px/17px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	color:  #333333;
	background: #373735 url('background-gradient.png') repeat-x top;
}

a {
	text-decoration: none;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}

div#envelope {
	width: 780px;
	margin: 0 auto;
	padding-top: 1em;
}

header {
	margin: 2em 0 2em;
}
header h1 {
	margin: 0 140px .5em 140px;
	text-align: center;
}
header h1 a {
	display: block;
	text-indent: -10000px;
	background: transparent url('logo.png') no-repeat center top;
	width: 497px;
	height: 33px;
}

section#twitter {
	width: 500px;
	height: 20px;
	margin: 0 auto 10px auto;
	font-size: .8em;
	color: #999999;
	position: relative;
	cursor: pointer;
}
section#twitter span.bird {
	position: absolute;
	top: 7px;
	left: 90px;
}
section#twitter span.quote {
	position: absolute;
	top: 3px;
	font-size: 2em;
	color: #666666;
}
section#twitter span.recent {
	padding: 0 3px 0 12px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 360px;
}
section#twitter span.follow {
	float: right;
}
section#twitter span.follow a {
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	color: #cee033;
}
section#twitter span.follow a:hover {
	color: #f3f8ce;
}

article.post {
	margin-bottom: 2em;
	width: 640px;
	display: block;
}
article section.meta {
	width: 122px;
	margin-right: 16px;
	text-align: right;
	float: left;
}
article section.content {
	width 502px;
	background-color: #FFFFFF;
	display: block;
	margin-left: 138px;
	border: 1px solid #5e5e5b;
	box-shadow: 0px 1px 5px #51514e;
	-moz-box-shadow: 0px 1px 5px #51514e;
	-webkit-box-shadow: 0px 1px 5px #51514e;
}

article section.meta {
	text-transform: uppercase;
	font-size: .7em;
	line-height: 1.3em;
	margin-top: .5em;
}
article section.meta span.icon {
	margin-right: .5em;
}
article section.meta span.icon img {
	width:  10px;
	height:  10px;
}
article section.meta a.permalink {
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	color: #cee00b;
}
article section.meta a.permalink:hover {
	color: #f0fa8a;
}

article section.meta ul.tags {
	list-style: none;
	margin: 1em 0 0 0;
}

article section.meta ul.tags a {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	color: #5e5e5b;
}
article section.meta ul.tags a:hover {
	color: #999999;
}

footer {
	margin: 0 140px 5em 140px;
	font-size: 1.1em;
	font-weight: bold;
}
footer a {
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	color: #8f8f8a;
}
footer a:hover {
	color: #e6e6e5;
}
footer a.nextpage {
	float: left;
}
footer a.previouspage {
	float:  right;
}